USE [Proyecto_PET_VET]
GO
/****** Object:  Database [Proyecto_PET_VET]    Script Date: 9/2/2022 23:54:27 ******/
CREATE DATABASE [Proyecto_PET_VET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto_PET_VET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Proyecto_PET_VET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto_PET_VET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Proyecto_PET_VET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto_PET_VET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto_PET_VET]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[IdAnimal] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Especie] [nvarchar](50) NOT NULL,
	[Raza] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[IdAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[SegundoNombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[CedulaIdentidad] [int] NOT NULL,
	[CuentaBancaria] [int] NOT NULL,
	[Direccion] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermedad]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermedad](
	[IdEnfermedad] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Enfermedad] PRIMARY KEY CLUSTERED 
(
	[IdEnfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriaClinica]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaClinica](
	[IdHistoriaClinica] [int] NOT NULL,
	[IdAnimal] [int] NOT NULL,
	[IdVeterinario] [int] NOT NULL,
	[IdEnfermedad] [int] NOT NULL,
	[Fecha_Enfermedad] [date] NOT NULL,
 CONSTRAINT [PK_HistoriaClinica] PRIMARY KEY CLUSTERED 
(
	[IdHistoriaClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacunaAnimal]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacunaAnimal](
	[IdVacunaAnimal] [int] NOT NULL,
	[IdVacuna] [int] NOT NULL,
	[IdAnimal] [int] NOT NULL,
	[Fecha_Vacuna] [date] NULL,
 CONSTRAINT [PK_VacunaAnimal] PRIMARY KEY CLUSTERED 
(
	[IdVacunaAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacunas]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacunas](
	[IdVacuna] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Fecha_Vacunacion] [date] NULL,
 CONSTRAINT [PK_Vacunas] PRIMARY KEY CLUSTERED 
(
	[IdVacuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinario]    Script Date: 9/2/2022 23:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinario](
	[IdVeterinario] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Veterinario] PRIMARY KEY CLUSTERED 
(
	[IdVeterinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Animal] ([IdAnimal], [IdCliente], [Nombre], [Especie], [Raza], [Color], [Fecha_Nacimiento]) VALUES (4, 2, N'Rocky', N'Canino', N'Mestizo', N'Negro', CAST(N'2012-06-24' AS Date))
INSERT [dbo].[Animal] ([IdAnimal], [IdCliente], [Nombre], [Especie], [Raza], [Color], [Fecha_Nacimiento]) VALUES (5, 3, N'Toby', N'Canino', N'Boxer', N'Atigrado', CAST(N'2018-03-12' AS Date))
INSERT [dbo].[Animal] ([IdAnimal], [IdCliente], [Nombre], [Especie], [Raza], [Color], [Fecha_Nacimiento]) VALUES (6, 3, N'Simba', N'Canino', N'Bulldog inglés', N'Blanco', CAST(N'2011-08-08' AS Date))
GO
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [SegundoNombre], [Apellido], [CedulaIdentidad], [CuentaBancaria], [Direccion], [Telefono], [Ciudad]) VALUES (1, N'Patricia', N'Karina', N'Wedge', 45683952, 999440576, N'Rincon 775', N'099111222', N'Montevideo')
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [SegundoNombre], [Apellido], [CedulaIdentidad], [CuentaBancaria], [Direccion], [Telefono], [Ciudad]) VALUES (2, N'Danielle', NULL, N'Perez', 45683953, 998320692, N'Rincon 776', N'099111223', N'Montevideo')
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [SegundoNombre], [Apellido], [CedulaIdentidad], [CuentaBancaria], [Direccion], [Telefono], [Ciudad]) VALUES (3, N'Kimberly', N'B', N'Zimmerman', 45683954, 993310268, N'Rincon 777', N'099111224', N'Montevideo')
GO
INSERT [dbo].[Enfermedad] ([IdEnfermedad], [Nombre]) VALUES (1, N'Moquillo')
INSERT [dbo].[Enfermedad] ([IdEnfermedad], [Nombre]) VALUES (2, N'Hepatitis Canina')
INSERT [dbo].[Enfermedad] ([IdEnfermedad], [Nombre]) VALUES (3, N'Leptospirosis')
GO
INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [IdAnimal], [IdVeterinario], [IdEnfermedad], [Fecha_Enfermedad]) VALUES (1, 10, 4, 2, CAST(N'2021-02-06' AS Date))
INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [IdAnimal], [IdVeterinario], [IdEnfermedad], [Fecha_Enfermedad]) VALUES (2, 52, 10, 3, CAST(N'2020-01-20' AS Date))
INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [IdAnimal], [IdVeterinario], [IdEnfermedad], [Fecha_Enfermedad]) VALUES (3, 39, 1, 25, CAST(N'2020-12-27' AS Date))
GO
INSERT [dbo].[VacunaAnimal] ([IdVacunaAnimal], [IdVacuna], [IdAnimal], [Fecha_Vacuna]) VALUES (1, 3, 1, CAST(N'2021-04-21' AS Date))
INSERT [dbo].[VacunaAnimal] ([IdVacunaAnimal], [IdVacuna], [IdAnimal], [Fecha_Vacuna]) VALUES (2, 2, 1, CAST(N'2021-05-18' AS Date))
INSERT [dbo].[VacunaAnimal] ([IdVacunaAnimal], [IdVacuna], [IdAnimal], [Fecha_Vacuna]) VALUES (3, 7, 1, CAST(N'2021-11-10' AS Date))
GO
INSERT [dbo].[Vacunas] ([IdVacuna], [Nombre], [Fecha_Vacunacion]) VALUES (1, N'Polivalente', NULL)
INSERT [dbo].[Vacunas] ([IdVacuna], [Nombre], [Fecha_Vacunacion]) VALUES (2, N'Moquillo Canino', NULL)
INSERT [dbo].[Vacunas] ([IdVacuna], [Nombre], [Fecha_Vacunacion]) VALUES (3, N'Rabia', NULL)
GO
INSERT [dbo].[Veterinario] ([IdVeterinario], [Nombre], [Apellido]) VALUES (1, N'Rafael', N'Bokenha')
INSERT [dbo].[Veterinario] ([IdVeterinario], [Nombre], [Apellido]) VALUES (2, N'Adriana', N'Moirone')
INSERT [dbo].[Veterinario] ([IdVeterinario], [Nombre], [Apellido]) VALUES (3, N'Carlos', N'Cioccape')
GO
USE [Proyecto_PET_VET]
GO
